body {background:white; font-family:sans-serif; font-size:0%; margin:0px;}
table {width:100%;}
th {padding:0px; line-height:100%; font-size:150%;} 
th.title {background:#222222; color:#FFFFFF; font-size:120%;}
tr.header {background:#CCCCEE; font-weight:bold; font-size:80%;}
th.stamp {background:#EEEEEE; color:#444444}
td {padding:4px; line-height:100%; font-size:130%;} 
tr {background:#EEEEEE;}
tr.odd {background:#EEEEEE;}
tr.even {background:#DDDDDD;}
tr.ownflight {background:#CCEECC; font-weight:bold;}
tr.ownroster {background:#CCEECC;}
div.page {
  position: relative;
  float: left;
  width: 1024px;
  height: 1554px;
  padding: 0px;
  padding-top: 4px;
  margin-top: 4px;
}
div.section {
  margin: auto;
  width: 96%;
  padding: 0ex;
  padding-top: 2ex;
}
div.bottom {
  border: 2px solid #000000;
  background: #F6F6F6;
  position: absolute;
  top: 92%;
  height: 8%;
  width: 96%;
  left: 2%;
  margin: auto;
}